@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
.dark-theme{
    --heading: rgb(237, 218, 12);
    --app-bg: #000;
    --btn-clr: rgb(255, 255, 255);
    --text-clr: #fff;
    --input-text-clr: #000;
}
.light-theme{
    --heading: rgb(244, 244, 244);
    --app-bg: #2f74c0;
    --btn-clr: #000;
    --text-clr: #fff;
    --input-text-clr: #000;
}
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--app-bg);
    font-family: "Neucha", cursive;
}
.heading {
    color: var(--heading);
    text-transform: uppercase;
    margin: 30px 0;
    font-size: 40px;
    z-index: 1;

}
.addbtn{
    transition: 0.2s all;
}
.addbtn:active {
    transform: scale(0.8);
    background: black;
}
.todocard{
    width: 700px;
}

@media (max-width: 480px) {
    .heading {
        margin: 15px 0;
        font-size: 35px;
        z-index: 1;
    }
    .todocard{
        width: 300px;
    }
}